{% extends "base.html" %}

{% block title %}iFlask-todo{% endblock %}

{% block page_content %}

    <div class="todos">
        
      <div class="panel panel-default">
      <div class="panel-heading"> <h5 class="title">待办事项：</h5></div>
      <div class="panel-body">
      <table class = "table">
            <thead>
                <tr><th width = "500px;">ToDo List</th><th>Category</th><th>Next</th></tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr >
                    <td>{{todo.title}}
                        <!--div class="input-group">
                            <input type="text" name = "title" class="form-control"  value = {{todo.title}} >
                            <span class="input-group-btn">
                                <button class="form-control" type="submit"> <i class="glyphicon glyphicon-edit"></i> </button>
                            </span>
                        </div-->
                    
                    </td> 
                    <td >{{ todo.category.name }}</td> 
                    <td>
                    <a class = "btn" href="/todo/done/{{todo.id}}"> <i class="glyphicon glyphicon-ok"></i> Done</a>
                    <a class = "btn" href="/todo/del/{{todo.id}}"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    <div class="newtodo">
        <div class="title">
            <h5>新增事项：</h5>
        </div> <!--end title--> 
        
        
        <form class="form-inline" action = "/todo/new" method="Post">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-male"></i></span>
                <div class="form-group">
                    <input size="80" class="form-control" name="title" type="text" placeholder = "What's Next...">          
                </div>
                <div class="form-group">
                    <select class="form-control" name="category">
                            {% for category in categories%}
                              <option>{{category.name}}</option>
                            {% endfor %}
                    </select>           
                </div>
                <div class="form-group">
                    <input class="form-control btn-primary" type="submit" value="New Task">
                </div>
            </div>
        </form>
        
    </div>
    </div><!--panel-body-->
    <br />
    <div class="panel-footer"> <br /></div> 
   
  
    </div><!--panel-->

    
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading"> <h5 class="title">已完成:</h5></div>
        <div class="panel-body">
            <div class="dones">
                <table class = "table">
                    <thead>
                        <tr><th width = "500px;">ToDo List</th><th>Category</th><th>Next</th></tr>
                    </thead>
                    <tbody>
                        {% for todo in dones %}
                        <tr >
                            <td><i class="icon-ok"></i><s>{{todo.title}}</s></td> 
                            <td >{{ todo.category.name }}</td> 
                            <td>
                                <a class = "btn" href="/todo/retrieve/{{todo.id}}"> <i class="glyphicon glyphicon-refresh"></i> Retrieve</a>
                                <a class = "btn" href="/todo/del/{{todo.id}}"> <i class="glyphicon glyphicon-trash"></i> Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

    
    </div><!--todos-->

<hr />
    

{% endblock %}

{% block footer%}
<div class="navbar-fixed-bottom">
    <div class="container">
    <footer> 
        <div class="row">
                    <div class="col-lg-12">
                                      &copy; 2014 

                                      <br>
                                      Powered by 
                                      <a href="http://getbootstrap.com title="Bootstrap">Bootsrap</a>
                       </div>   
        </div>
    </footer>
    </div>
</div> 

{% endblock %}

{% block sidebar %}
    <!--ul class="nav nav-list">
      <li class="nav-header">Category</li>
      <li class="active"><a href="/index">All</a></li>
      {% for category in categories%}
        <li><a href="/todo/category/{{category.name}}">{{category.name}}</a></li>
      {% endfor %}
    </ul-->
    
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Category
      </a>
      <a href="/index" class="list-group-item">All<span class="badge">{{todos.__len__() + dones.__len__()}}</span></a>
      {% for category in categories%}
        <a href="/todo/category/{{category.name}}" class="list-group-item">{{category.name}}<span class="badge">{{category.todos.count()}}</span></a>
      {% endfor %}

    </div>
    <div>
      <form class="form-inline" action = "/todo/category/new" method="Post">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">New</button>
      </form>
    </div>
{% endblock %}
